body{
    font-family: 'Staatliches', cursive;
    margin: 0;
}
 h1{
     font-size:40px;
 }
 h2{
     font-size:40px ;
 }
 
 
 .master-mind{
     color: red;
     font-size: 40px;
 }
 .color-bash{
     color:orange;
     font-size: 50px;
 }
 .very-soon{
     font-size:30px;
     color:green;
 }
 
 .flexible-container{
    display:flex;
    margin-bottom: 150px;
 }
 .half-widht{
     width: 100%;
     padding:2%;
 }
 .half-widht{
     width: 80%;
 }
 .link-button{
     text-decoration: none;
    background-color:orange;
     color:black;
     padding: 15px 40px;
     margin: solid;
     border-radius: 15px;
     background-image: linear-gradient(orange green);

 }
 .regular-redy{
     background-image: url(images/regular-redy.png);
     background-repeat: no-repeat;
     
 }
 .taste-big{
     background-image: url(images/taste.png);
     background-repeat: no-repeat;
     background-position: right;
 }
 }
 .wrong-maro{
     color:red;
 }
  .ultra-push{
      color: orange;
  }
  .core-lock{
      color: green;
      font-size: 30px ;
  }
  .section{
      display:flex;
  }
 .new-look{
     color:black;

 }
  .disk-core{
      color: blue;
  }
  .for-cat{
       color:green;
      font-family:sans-serif;
  }
  .red-cut{
    border-radius: 15px;
    border: 10px solid rgb(33, 17, 250);
      color:red;
      font:bolder;
      font-size:40px;
      font-family: cursive;
      border-radius: 5%;
      
       

  }
  .experiences-item{
      background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;
      border-radius: 10px;
      width: 550px;
      height: 430px;
      margin-left: 3%;
      margin-right: 3%;
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: 10px 20px 60px gray;
      font-size: 20px;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
  }
  .rock-hok{
      font-size: 20px;
      font-family:cursive;
  }
  .you-got{
    font-size: 20px;
    font-family:cursive;

 }
  #baby-club{
      border-left: 7px solid;
      background-image: linear-gradient(blue yellow green);
      border-image-slice: 1;
  }
  #full-stack{
    border-left: 7px solid;
    background-image: linear-gradient(blue yellow green);
    border-image-slice: 1;

  }
  footer p{
      text-align: center;
  }
  .wel-come{
      font-size: 50px;
  }